<section class="wrapper-container">
  <div class="wrapper-logo">
    <img class="img-logo" src="/assets/img/logo-ecoandino.png" alt="logo">
  </div>
  <div class="wrapper-title">
    <div class="title">Superalimentos de nuestra tierra</div>
  </div>

  <div class="frontbox">
    <div class="login">
      <h2>REGISTRO CLIENTE</h2>
      <h2 class="input-label">Completa los campos a continuación para realizar tu registro.</h2>
      <div class="inputbox">
        <input type="text" placeholder=" RAZÓN SOCIAL">
        <div class="display-text">
          <div class="inputs-flex">
            <input type="text" placeholder=" TELÉFONO FIJO">
          </div>
          <input type="text" placeholder=" TELÉFONO CELULAR">
        </div>
        <div class="display-text">
          <div class="inputs-flex">
            <input type="number" placeholder=" RUC">
          </div>
          <input type="text" placeholder=" CONTACTO">
        </div>
        <div class="inputs-flex">
          <input type="password" placeholder=" PASSWORD">
        </div>
        <input type="text" placeholder=" E-MAIL">
        <div class="wrapper-country">
          <div class="display-text">
            <div class="inputs-flex">
              <input type="text" placeholder=" PAIS">
            </div>
            <input type="text" placeholder=" DEPARTAMENTO">
          </div>
        </div>
        <h2 class="input-label-final">Su usuario será su numero de RUC</h2>
        <div class="wrapper-button">
          <button id="buttom-1" (click)="irLogin()">REGISTRAR</button>
        </div>
        <button id="buttom-2" (click)="irLogin()" class="button-color">ATRÁS</button>
      </div>
    </div>
  </div>
</section>
